aigpy
aiohttp
gevent
gunicorn
flask
lyricsgenius
music_tag
mutagen
pathvalidate
Pillow
psutil
psycopg2-binary
pydub
pycryptodomex
pyrofork
python-dotenv
TgCrypto-pyrofork
uvloop
git+https://github.com/kokarare1212/librespot-python#egg=librespot
